html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 1.5em;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    font-size: 2.3rem;
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/midjourney/guy-stance-facing-left.png');
    background-size: cover;
    background-position-x: 20%;
    background-position-y: 20%;
    width: 100%;
    height: 90vh;
    z-index: -1;
    animation: introLoad 2s forwards;
}

.logo {
    img {
        width: 4.5em;
        height: auto;
    }
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 33%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    background: white;

    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 8em;

        a {
            color: black;
            padding: 0.75em 2em;
            display: block;
            width: 100%;

            &:hover {
                background: rgb(238, 238, 238);
            }
        }
        a.active {
            color: white;
            background: rgb(0, 68, 255);

            &:hover {
                background: rgb(41, 98, 255);
            }
        }
    }
    .close {
        float: right;
        margin: 2em;
        width: 4.5em;
    }
}

.open-nav {
    transform: translateX(0%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        opacity: 0;
    }

    svg {
        width: 3.5em;
        margin-top: -0.6em;
        cursor: pointer;
    }

    svg:hover {
        transform: scale(1.1);
    }

    .logo {
        cursor: pointer;
    }
}

section.hero {
    color: white;
    height: 80vh;
    animation: moveDown 1.5s ease-in-out forwards;
    opacity: 0;

    h1, p.tagline {
        background: rgba(48, 48, 48, 0.75);
        padding-left: 0.5em;
        padding-right: 0.5em;
        //border-radius: 0.5em;
    }

    h1 {
        font-size: 5rem;
        margin-top: 2em;
        line-height: 6.2rem;
        margin-bottom: 2em;
    }

    p.tagline {
        font-size: 3rem;
        margin: 0;
    }

    .primary-cta {
        background-color: rgb(223, 0, 0);
        font-size: 2.4rem;
        font-weight: bold;
        color: white;
        text-decoration: none;
        border-radius: 0.5em;
        padding: 1em 2em;
        position: absolute;
        bottom: 10em;
        transition: 0.3s;
    }

    .primary-cta:hover {
        background: rgb(255, 0, 0, 1);
        transform: scale(1.05);
    }
}

.feature-img {
    position: absolute;
    left: 0;
    background: url('../images/midjourney/gym_background-stylized.png');
    background-size: cover;
    background-position-x: 20%;
    background-position-y: 20%;
    width: 100%;
    height: 90vh;
    z-index: -1;
    animation: introLoad 2s forwards;
    opacity: 0.75;
}

/* Column classes gallery */

.class-cards {
    margin-top: 5em;
    flex-grow: 1;
    display: grid;
    gap: 2.9em;
    height: 50em;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: 
        "left right";

        .card {
            border-radius: 1.4em;
            padding: 1.6em;
            background-size: 150%;
            display: flex;
            align-items: start;
            transition: background-size 0.3s;
        }
        
        .card p {
            color: black;
            background: none;
        }
            
        .card1 {
            grid-area: left;
            background-image: url('../images/midjourney/three-kids-anime.png');
            position: relative;
        }
        
        .card2 {
            grid-area: right;
            background-image: url('../images/midjourney/adult-class-realistic.png');
            position: relative;
        }
            
        .card-title {
            background: rgba(255, 255, 255, 0.9);
            border-radius: 0.5em;
            padding: 0 0.5em;
            width: 100%;
            display: absolute;
            align-items: center;
            justify-content: space-between;
            transition: 0.3s;
            font-size: 2.4em;
        }
        
        .card-desc {
            position: absolute;
            top: 33%;
            transform: translate(100%, -33%);
            background-color: rgba(169, 101, 0, 0.8);
            padding: 2em 1em;
            color: #FFF;
            text-align: right;
            transition: 0.3s;
        
            h2 {
                text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
            }
        
            .line {
                width: 70px;
                height: 5px;
                background-color: #FFF;
                margin: 1rem 0 1rem auto;
            }
        
            p {
                font-size: 1.8rem;
                text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
                margin-bottom: 1rem;
            }
        
            a.kids-class-link {
                padding: 0.3rem 1.5rem;
                background-color: transparent;
                font-size: 1.4rem;
                font-weight: 600;
                border: 2px solid #FFF;
                color: #FFF;
                border-radius: 0.5rem;
                transition: 0.3s;     
        
                &:hover {
                    background-color: #FFF;
                    color: rgba(169, 101, 0, 0.8);
                }
            }
        }
        
        /* Card microinteractions */
        
        .card:hover {
            background-size: 160%;
        }
        
        .card:hover .card-title {
            transform: translateY(-50px);
            opacity: 0;
        }
        
        .card:hover .card-desc {
            transform: translate(0, -33%);
        }
}

/* News section */

.news {
    display: flex;
    gap: 3em;
    padding: 4em;
    margin-top: 5em;
    border: 1px solid black;
    border-radius: 1.9em;
    position: relative;
    color: black;
    align-items: center;

    a.location-icon {
        margin: 0;
    }

    p.news-details {
        font-size: 2.4rem;
        margin: 0;
    }
}

@media only screen and (min-width: 680px) {

    body {
        margin: 1.5em 5em;
        font-family: 'Poppins', sans-serif;
    }

}

@media only screen and (min-width: 920px) {

    .hero-img {
        left: unset;
        right: 0;
        width: 100%;
        height: 70em;
    }

    .menu {
        display: none;
    }

    header {
        background-color: none;
        padding: 0 10%;
        font-weight: 400;
    }

    nav {
        transform: translateX(0);
        position: unset;
        height: auto;
        width: auto;
        overflow: hidden;
        display: block;
        background: none;

        svg.close {
            display: none;
        }

        ul {
            display: flex;
            margin: 0;
            list-style: none;

            a {
                &:hover {
                    color: #0088A9;
                    background: none;
                }
            }
            a.active {
                color: rgb(57, 76, 255);
                background: none;
            }
        }
    }

    section.hero {
        color: black;
        height: 60vh;
        width: 40%;
        margin-bottom: 8em;

        h1, p {
            background: none;
        }

        svg.down-arrow {
            stroke: black;
            position: unset;
    
            path {
                fill: black;
            }
        }
    }

    .feature {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 3em;
        margin-bottom: 8em;

        img {
            width: 25em;
        }
    
        .content {
            text-align: right;
            width: 25em;
        }
    }

    .feature.left {
        grid-template-areas: 
            "left right";

        img {
            grid-area: left;
        }

        .content {
            text-align: left;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .wrapper {
        width: 1200px;
        margin: 0 auto;
    }
}

@keyframes introLoad {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes moveArrow {
    from {
        transform: translateY(-30px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes moveDown {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes growIn {
    to {
        transform: scale(1);
    }
}