html {
  font-size: 62.5%;
}

body {
  margin: 1.5em;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  font-size: 2.3rem;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/midjourney/guy_stance_facing_left.png");
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 20%;
  width: 100%;
  height: 100vh;
  z-index: -1;
  animation: introLoad 2s forwards;
}

.logo img {
  width: 4.5em;
  height: auto;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  height: 100vh;
  width: 50%;
  z-index: 999;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}
nav ul a {
  color: black;
  padding: 0.75em 2em;
  display: block;
  width: 100%;
}
nav ul a:hover {
  background: rgb(238, 238, 238);
}
nav .close {
  float: right;
  margin: 2em;
  width: 4.5em;
}

header {
  display: flex;
  justify-content: space-between;
}
header svg {
  width: 3.5em;
  margin-top: -0.6em;
  cursor: pointer;
}

.subhead {
  font-size: 2.2rem;
}

section.hero {
  color: white;
  height: 90vh;
  animation: moveDown 1.5s ease-in-out forwards;
  opacity: 0;
}
section.hero h1 {
  font-size: 5rem;
  margin-top: 2em;
  line-height: 6.2rem;
  margin-bottom: 2em;
  background: rgba(150, 150, 150, 0.5);
}
section.hero p {
  font-size: 3rem;
  margin: 0;
  background: rgba(150, 150, 150, 0.5);
}
section.hero svg.down-arrow {
  stroke: black;
  position: absolute;
  bottom: 2em;
  width: 2.5em;
  animation: moveArrow 1s alternate-reverse infinite;
}
section.hero svg.down-arrow path {
  fill: black;
}

.more-info img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 11em;
}
.more-info .title {
  font-weight: bold;
  font-size: 2rem;
}
.more-info .desc {
  line-height: 1.5rem;
}

.open-nav {
  transform: translateX(0%);
}

@media only screen and (min-width: 680px) {
  body {
    margin: 1.5em 5em;
    font-family: "Poppins", sans-serif;
  }
}
@media only screen and (min-width: 920px) {
  .hero-img {
    left: unset;
    right: 0;
    width: 50%;
    height: 68em;
  }
  .menu {
    display: none;
  }
  nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  nav svg.close {
    display: none;
  }
  nav ul {
    display: flex;
    margin: 0;
  }
  nav ul a {
    color: black;
    padding: 0.5em 1.5em;
    font-size: 1.4rem;
  }
  nav ul a:hover {
    background: none;
    text-decoration: underline;
  }
  section.hero {
    color: black;
    height: auto;
    width: 40%;
    margin-bottom: 8em;
  }
  section.hero h1, section.hero p {
    background: none;
  }
  section.hero svg.down-arrow {
    stroke: black;
    position: unset;
  }
  section.hero svg.down-arrow path {
    fill: black;
  }
  .feature {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3em;
    margin-bottom: 8em;
  }
  .feature img {
    width: 25em;
  }
  .feature .content {
    text-align: right;
    width: 25em;
  }
  .feature.left {
    grid-template-areas: "left right";
  }
  .feature.left img {
    grid-area: left;
  }
  .feature.left .content {
    text-align: left;
  }
}
@keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes moveArrow {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes moveDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */